@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

body {
  margin: 0;
  font-family: "Press Start 2P", cursive;
  font-size: 2em;
  color: white;
  background-color: #101418;
}
button {
  outline: none;
  cursor: pointer;
  border: none;
  box-shadow: 3px 5px 0px 0px rgba(0, 0, 0, 0.75);
}
#counter {
  position: absolute;
  top: 20px;
  right: 20px;
}
#end {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
#end .end-panel {
  background-color: rgba(16, 20, 24, 0.9);
  border: 2px solid #3b5323;
  padding: 40px 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#end .end-panel p {
  margin: 0;
  font-size: 0.6em;
  color: #f5f1d5;
}
#end button {
  background-color: #3b5323;
  padding: 20px 50px 20px 50px;
  font-family: inherit;
  font-size: inherit;
  color: #f5f1d5;
}
#controlls {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#controlls div {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 20px;
}
#controlls button {
  width: 100%;
  background-color: #d4c99f;
  border: 1px solid #6b6342;
}
#controlls button:first-of-type {
  grid-column: 1/-1;
}
